.insideScreenBlockMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5vw;
}

.insideScreenBlockColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5vw;
}

.insideScreenBlock {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position-y: top center;
  background-size: cover;
  padding: 1.65vw 1.5vw;
  padding-right: 1vw;
  border-radius: 0.5vw;
  box-shadow: 0.5vw 0.5vw 1.8vw black;
  transition: 0.3s;
}

.longTitle.insideScreenBlock {
  padding: 1vw 1.5vw;
  padding-right: 1vw;
}

.insideScreenHeaderTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.insideScreenTitle {
  font-size: 1vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  width: 95%;
}

.insideScreenIcon {
  width: 1.1vw;
  height: 1.1vw;
  fill: #8199a0;
}

.insideScreenContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}

.insideScreenContent.open {
  max-height: 5vw; /* Устанавливаем примерное ограничение */
  opacity: 1;
  padding-top: 1vw;
}

.insideScreenContent.closed {
  max-height: 0;
  opacity: 0;
}

.insideScreenContentText {
  font-size: 1vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}
