.sliderContainer {
  /* position: relative; */
  /* width: 300px;
  height: 1000px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-out;
  position: relative;
}

.slide {
  display: flex;
  position: absolute;
  top: 15vw;
  right: -10vw;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease-out, scale 0.5s ease-out; /* Плавные переходы для всех свойств */
  /* transform-origin: center; */
  cursor: pointer;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 1.5vw;
}

@media (min-width: 1920px) {
  .slide {
    top: 16vw;
    right: -12vw;
  }
}

.slideBackground {
  display: flex;
  width: 47vw;
}

@media (min-width: 1920px) {
  .slideBackground {
    display: flex;
    width: 45vw;
  }
}

.slideContent {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vw 1.5vw;
}

.slideInfo {
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.slideInfo h2 {
  display: flex;
  font-size: 2vw;
  color: white;
  font-family: var(--font-bios-bold);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

.slideInfo p {
  display: flex;
  font-size: 1vw;
  color: white;
  font-family: var(--font-ibmp);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
  margin-top: 1.5vw;
}

.slide.active {
  opacity: 1;
  transform: translateY(0) scale(1) translateX(-5vw); /* Центральный слайд с увеличением */
  z-index: 5;
  filter: brightness(1);
  cursor: default;
}

.slide.prev {
  /* opacity: 0.5; */
  opacity: 1;
  transform: translateY(-6vw) scale(0.9) translateX(-4vw); /* Слайд выше с уменьшением */
  z-index: 4;
  filter: brightness(0.5);
}

.slide.next {
  /* opacity: 0.5; */
  opacity: 1;
  transform: translateY(6vw) scale(0.9) translateX(-4vw); /* Слайд ниже с уменьшением */
  z-index: 4;
  filter: brightness(0.5);
}

.slide.after-next {
  /* opacity: 0.2; */
  opacity: 1;
  transform: translateY(11vw) scale(0.8) translateX(-3vw); /* Слайд дальше снизу */
  z-index: 3;
  filter: brightness(0.5);
}

.slide.before-prev {
  /* opacity: 0.2; */
  opacity: 1;
  transform: translateY(-11vw) scale(0.8) translateX(-3vw); /* Слайд дальше сверху */
  z-index: 3;
  filter: brightness(0.5);
}

.slide.hidden {
  /* display: none; */
  transform: translateX(11vw);
  filter: brightness(0.5);
}
