.sliderContainer {
  /* position: relative; */
  /* width: 300px;
  height: 1000px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-out;
  position: relative;
}

.slide {
  display: flex;
  position: absolute;
  top: 15vw;
  right: -10vw;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease-out, scale 0.5s ease-out; /* Плавные переходы для всех свойств */
  /* transform-origin: center; */
  cursor: pointer;
  border-top-left-radius: 3vw;
  border-bottom-left-radius: 3vw;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 1.5vw;
}

@media (min-width: 1920px) {
  .slide {
    top: 16vw;
    right: -12vw;
  }
}

.slideBackground {
  display: flex;
  width: 47vw;
}

@media (min-width: 1920px) {
  .slideBackground {
    display: flex;
    width: 45vw;
  }
}

.slideContent {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23vw;
  padding: 1vw 1.5vw;
}

.slideInfo h2 {
  display: flex;
  font-size: 2vw;
  color: white;
  font-family: var(--font-bios-bold);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

.slideInfo p {
  display: flex;
  font-size: 0.9vw;
  color: white;
  font-family: var(--font-ibmp);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
  margin-top: 1.5vw;
}

.slideInfoAboutCourseRow {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.slideInfoAboutCourse {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
}

.slideInfoAboutCourse h5 {
  display: flex;
  font-family: var(--font-bios-bold);
  font-size: 1.45vw;
  color: rgb(255, 128, 0);
  font-weight: var(--font-weight-normal);
}

.slideInfoAboutCourse h6 {
  display: flex;
  font-family: var(--font-ibmp);
  font-size: 0.9vw;
  color: white;
  font-weight: var(--font-weight-normal);
}

.slideButton {
  display: flex;
  position: relative;
  width: 100%;
  background: rgb(255, 128, 0);
  color: black;
  font-family: var(--font-ibmp);
  font-size: 1vw;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05vw;
  border: 0;
  cursor: pointer;
  padding: 0.5vw 2.3vw;
  margin-top: 1.5vw;
  transition: all 0.6s ease;
  width: 9vw;
  margin-left: 0.5vw;
}

.slideButton::before {
  left: 99.5%;
  border-left: 0.5vw solid rgb(255, 128, 0);
  border-bottom: 0.5vw solid transparent;
}

.slideButton::after {
  right: 99.5%;
  border-right: 0.5vw solid rgb(255, 128, 0);
  border-top: 0.5vw solid transparent;
}

.slideButton::before,
.slideButton::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.slideButton:hover {
  box-shadow: 0px 0.1vw 2vw 0.2vw rgb(255, 128, 0);
}

.slide.active {
  opacity: 1;
  transform: translateY(0) scale(1) translateX(-5vw); /* Центральный слайд с увеличением */
  z-index: 5;
  filter: brightness(1);
  cursor: default;
}

.slide.prev {
  /* opacity: 0.5; */
  opacity: 1;
  transform: translateY(-6vw) scale(0.9) translateX(-4vw); /* Слайд выше с уменьшением */
  z-index: 4;
  filter: brightness(0.5);
}

.slide.next {
  /* opacity: 0.5; */
  opacity: 1;
  transform: translateY(6vw) scale(0.9) translateX(-4vw); /* Слайд ниже с уменьшением */
  z-index: 4;
  filter: brightness(0.5);
}

.slide.after-next {
  /* opacity: 0.2; */
  opacity: 1;
  transform: translateY(11vw) scale(0.8) translateX(-3vw); /* Слайд дальше снизу */
  z-index: 3;
  filter: brightness(0.5);
}

.slide.before-prev {
  /* opacity: 0.2; */
  opacity: 1;
  transform: translateY(-11vw) scale(0.8) translateX(-3vw); /* Слайд дальше сверху */
  z-index: 3;
  filter: brightness(0.5);
}

.slide.hidden {
  /* display: none; */
  transform: translateX(11vw);
  filter: brightness(0.5);
}
