.cost {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.costBlockProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
  gap: 5vw;
}

.costBlockBundleProducts {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.costBlockTitle {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}

.notification {
  display: flex;
  justify-content: center;
  font-size: 1.4vw;
  color: var(--color-for-notification);
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  margin-top: 1vw;
}

.costBlockTitleText {
  display: flex;
  justify-content: center;
  font-size: 1.6vw;
  color: #abbbcc;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  margin-top: 1vw;
}
