.cost {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.costBlockProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.costBlockBundleProducts {
  display: flex;
  flex-direction: row;
  width: 100%;
}
