.countdownTimer {
  display: flex;
  justify-content: center;

  background: rgba(236, 236, 236, 0.03);
  padding: 1.5vw 2.5vw;
  border-radius: 1vw;
  backdrop-filter: blur(0.5vw);
  box-shadow: 0 0 0.7vw 0 #00afd2, 0 0 0.2vw 0 #0741e0;
  gap: 1.5vw;
  width: 15vw;
}

.countdownTimerTeamLead {
  box-shadow: 0 0 0.7vw 0 var(--color-for-teamlead), 0 0 0.2vw 0 var(--color-for-teamlead);
}

.countdownTimerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdownTimerValue {
  display: flex;
  font-size: 2.2vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-shadow: black 0.2vw 0.1vw 0.1vw;
  letter-spacing: 0.2vw;
}

.countdownTimerLabel {
  display: flex;
  font-size: 0.7vw;
  color: #00afd2;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  text-shadow: 0 0 0.2vw #00afd2, 0 0.4vw 0.1vw rgba(0, 176, 210, 0.3), 0 0.2vw 0.75vw #00afd2;
}

.countdownTimerLabelTeamLead {
  color: var(--color-for-teamlead);
  text-shadow: 0 0 0.2vw var(--color-for-teamlead), 0 0.4vw 0.1vw rgba(131, 46, 120, 0.3),
    0 0.2vw 0.75vw var(--color-for-teamlead);
}
