.viewCourseScreenVideo {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.viewCourseScreenVideoOne {
  display: flex;
  justify-content: center;
}

.viewCourseScreenVideoIframe {
  display: flex;
  width: 34vw;
  height: 19.1vw;
  border-radius: 1vw;
  border: 0;
  transition: 0.3s;
  filter: brightness(0.5);
}

.viewCourseScreenVideoIframe:hover {
  filter: brightness(1);
}
