.costBlockProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.costBlockProduct {
  display: flex;
  flex-direction: column;
  width: 23%;
  background: linear-gradient(145deg, rgba(30, 32, 57, 1) 0%, rgba(12, 16, 45, 1) 100%);
  padding: 1.2vw 1.2vw;
  border-radius: 0.5vw;
  border: 0.1vw solid #0f929f;
}

.costProductImageAndNotification {
  display: flex;
  justify-content: center;
  position: relative;
}

.costProductImage {
  display: flex;
  width: 100%;
  box-shadow: 0px 0.5vw 1vw -0.01vw #258479;
  border-top-left-radius: 2.5vw;
  border-bottom-right-radius: 3vw;
}

.costProductNotificationText {
  position: absolute;
  bottom: 0.2vw;
  font-size: 0.95vw;
  color: #abbbcc;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  text-align: center;
  width: 10vw;
}

.productCourseNotificationGreen {
  color: #60ff00;
}

.costProductCategoryAndSpeakers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5vw;
  margin-top: 1vw;
}

.costProductCategoryText {
  display: flex;
  font-size: 0.85vw;
  color: #abbbcc;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
  background-color: #2c3d33;
  padding: 0.2vw 1.6vw;
}

.costProductSpeakersAndBy {
  display: flex;
  flex-direction: row;
  gap: 0.3vw;
  margin-top: 0.5vw;
}

.costProductSpeakers {
  display: flex;
  flex-direction: column;
}

.costProductSpeakersText {
  font-size: 0.85vw;
  color: #abbbcc;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
  text-align: right;
}

.costProductNameCourse {
  font-size: 1.7vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

.costProductVersionCourse {
  font-size: 1.3vw;
  color: var(--color-for-architecture);
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

.costProductVideosStudentsTimesBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw;
}

.costProductVideosStudentsBlock {
  display: flex;
  flex-direction: column;
}

.costProductTimesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.costProductVideosStudentsTimesTextNums {
  font-size: 1.2vw;
  color: #abbbcc;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
}

.costProductVideosStudentsTimesText {
  font-size: 1.15vw;
  color: #abbbcc;
  font-family: var(--font-helv-light);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  padding: 0;
  margin: 0;
}

.costProductDiscount {
  display: flex;
  position: absolute;
  top: 0.5vw;
  margin-left: 12vw;
}

.costProductDiscount img {
  width: 7vw;
}
