.header {
  /* background-color: black; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 4vw;
  padding-right: 0;
}

.headerLogo {
  width: 13vw;
}

.headerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 1.5vw;
  clip-path: polygon(6% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: rgb(116, 116, 116);
  padding: 0;
  margin: 0;
  padding-right: 4vw;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(-45deg); */
  overflow: hidden;
  height: 2vw;
  padding: 0 3vw;
  /* margin-top: -30px; */
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  background-color: rgb(0, 204, 204);
}

.headerButton h4 {
  display: flex;
  font-family: var(--font-bios-bold);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  color: black;
  font-size: 0.9vw;
}

.headerIconFlag {
  width: 1.3vw;
}

.headerIcons {
  fill: white;
  width: 1.1vw;
  height: 1.1vw;
}

.headerIconBurger {
  width: 1.3vw;
  height: 1.3vw;
}

.headerIconCart {
  width: 0.95vw;
  height: 0.95vw;
}
