.portalBackground {
  display: flex;
  /* background-attachment: fixed; */
  width: 100%;
  height: 56.3vw;
  background: rgb(8, 13, 24);
  background: linear-gradient(115deg, rgba(8, 13, 24, 1) 0%, rgba(2, 8, 13, 1) 68%);

  position: relative;
  overflow: hidden;
}

@media (min-width: 1920px) {
  /* .portalBackground {
    height: 56vw;
  } */
}

.portalImageAndSlider {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.portalImagesPortal {
  display: flex;
  position: relative;
  width: 100%;
}

.portalImagePortal {
  display: flex;
  position: absolute;
  top: -6vw;
  left: -3.5vw;
  width: 65vw;
  z-index: 0;
}

.portalImageRocksOne {
  display: flex;
  position: absolute;
  top: -13vw;
  left: -7vw;
  width: 70vw;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

.portalImageRocksTwo {
  display: flex;
  position: absolute;
  top: -12vw;
  left: -7vw;
  width: 69vw;
  z-index: 2;
}

.portalImageCosmonaft {
  display: flex;
  position: absolute;
  top: 9vw;
  left: 16vw;
  width: 29vw;
  z-index: 3;
}

@media (min-width: 1920px) {
  /* .portalImagePortal {
    top: -120px;
    left: -60px;
    width: 65vw;
  } */
}
