.burgerIcon {
  cursor: pointer;
  z-index: 101;
  position: relative;
}

.headerIconBurger {
  width: 1.3vw;
  height: 1.3vw;
  fill: white;
}

.headerIconBurgerClose {
  fill: white;
}

.menuLogo {
  display: flex;
  width: 3.5vw;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -1vw 0vw 2vw rgb(0, 0, 0, 1);
  backdrop-filter: blur(0.5vw);
  width: 13vw;
  height: 47vw;
  position: absolute;
  top: -1.5vw;
  right: 0;
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  padding: 1vw;
  padding-top: 1.5vw;
  border-top-left-radius: 1vw;
}

.menu.open {
  transform: translateX(0%);
}

.menuListTitle {
  font-size: 0.8vw;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  color: white;
  margin-top: 1vw;
  text-transform: uppercase;
}

.menuList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuListIconSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.7vw;
}

.menuListIcons {
  fill: white;
  width: 1vw;
  height: 1vw;
}

.menuList li {
  padding: 0.5vw 0.5vw;
  transition: 0.3s;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuListPoint {
  text-decoration: none;
}

.menuListPoint h4,
.menuList a {
  display: flex;
  font-size: 0.85vw;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.menuList li:hover {
  background-color: rgb(0, 138, 138);
}

.menuListNewCourse {
  display: flex;
  color: black;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  background-color: rgb(0, 189, 116);
  border-radius: 1vw;
  padding: 0.1vw 0.4vw;
  font-size: 0.5vw;
}

.menuListSocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuListSocialIcon {
  width: 1vw;
  height: 1vw;
  fill: white;
}

.menuAuthor {
  display: flex;
  justify-content: center;
  background: rgb(0, 138, 138);
  color: white;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  font-size: 0.85vw;
  padding: 0.5vw 0.5vw;
  border-radius: 0.5vw;
  margin-top: 1vw;
}
