.headScreenTitle {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  width: 50%;
}

.categoryCourses {
  display: flex;
  font-size: 1.1vw;
  color: white;
  font-family: var(--font-ExanRegular);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
}

.nameCourse,
.subNameCourse {
  display: flex;
  font-size: 5vw;
  color: white;
  font-family: var(--font-ExanRegular);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
}

.subNameCourse {
  font-size: 3vw;
}

.descriptionCourse {
  display: flex;
  font-size: 1vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  margin-top: 1vw;
}

.notification {
  display: flex;
  font-size: 1.4vw;
  color: #60ff00;
  font-family: var(--font-helv-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  margin-top: 1vw;
}
