.gameBlockMain {
  display: flex;
  flex-direction: column;
}

.gameBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameBlock {
  display: flex;
  flex-direction: column;
  width: 19%;
  gap: 1vw;
}

.nameGame {
  font-size: 1vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
}

.descriptionGame {
  font-size: 0.9vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

.descriptionGame a {
  color: white;
  text-decoration: underline;
}

.descriptionMarg {
  padding: 0;
  margin: 0;
  margin-top: 0.5vw;
}

.descriptionMarg:first-child {
  margin: 0;
}

.toggleButton {
  display: flex;
  font-size: 1vw;
  color: white;
  font-family: var(--font-helv-roman);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  max-width: max-content;
}

.expandedText {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-16vw);
  transition: transform 0.4s ease, max-height 0.3s ease, opacity 0.2s ease;
}

.expandedText.show {
  opacity: 1;
  max-height: 100%;
  transform: translateY(0);
}
