body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Bios-Bold; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/BiosBold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: IBMPlexSans-Light; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/IBMPlexSans-Light.otf); /* Путь к файлу со шрифтом */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --font-bios-bold: 'Bios-Bold';
  --font-ibmp: 'IBMPlexSans-Light';
  --font-weight-normal: normal;
  --font-lineh-normal: 1.3em;
  --font-lineh-small: 1.2em;
}
