body {
  margin: 0;
  padding: 0;
  background: linear-gradient(115deg, rgba(8, 13, 24, 1) 0%, rgba(2, 8, 13, 1) 68%);
}

@font-face {
  font-family: Bios-Bold; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/BiosBold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: IBMPlexSans-Light; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/IBMPlexSans-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: HelveticaNeueCyr-Medium; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/HelveticaNeueCyr-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: HelveticaLight; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/HelveticaNeueCyr-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: ExanRegular; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/exan_regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: HelveticaRoman; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/HelveticaNeueCyr-Roman.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: ArialBlack; /* Гарнитура шрифта */
  src: url(/src/assets/fonts/arialblack.ttf); /* Путь к файлу со шрифтом */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --font-bios-bold: 'Bios-Bold';
  --font-ibmp: 'IBMPlexSans-Light';
  --font-helv-medium: 'HelveticaNeueCyr-Medium';
  --font-helv-roman: 'HelveticaRoman';
  --font-helv-light: 'HelveticaLight';
  --font-ExanRegular: 'ExanRegular';
  --font-ArialBlack: 'ArialBlack';
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-lineh-normal: 1.3em;
  --font-lineh-small: 1.2em;
  --color-for-notification: #60ff00;
  --color-for-architecture: #3fa314;
  --color-for-teamlead: #a74199;
}
